body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

#notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#notification-bar.show {
  display: block;
  opacity: 1;
}

#notification-bar.error {
  background-color: #f44336;
}

h1,
h2,
h3 {
  margin-top: 25px;
}

h1:first-of-type {
  margin-top: 0;
}


label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-family: monospace;
  font-size: 13px;
}

textarea {
  min-height: 100px;
  font-family: monospace;
  overflow-y: auto;
  resize: none;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #eee;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

button#reset-button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  margin: auto;
  min-width: 80px;
}

button#reset-button:hover {
  background-color: #d32f2f;
}

.hidden {
  display: none;
}